# Uncomment below to enable HTTPS for development (recommended):
# In this case a self-signed certificate will be sufficent (in our opinion). 
# Granted, there are other forms of certificates, such as locally trusted certificates generated with tools like mkcert or certificates issued by a certificate authority (CA).
# Yet, depending on the development or testing scenario these may be more appropriate.
# A guide for creating a self-signed certificate with OpenSSL can be found here: https://www.ibm.com/docs/en/api-connect/software/10.0.x_cd?topic=profile-using-openssl-generate-format-certificates#task_apionprem_generate_self_signed_openSSL__title__2
# HTTPS_CERT=""
# HTTPS_KEY=""