# Non-sensetive enviorment variables used client-side must have prefix _VITE and added to vite-end.d.ts and env file before usage. 
# For more information see Vite docs: Env Variables: https://vite.dev/guide/env-and-mode#env-variables
VITE_APP_NAME="Vite + Lit App"